repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: prettier --write --ignore-unknown
        language: system
        types_or: [text, markdown]
      - id: ruff
        name: Ruff
        entry: ruff check
        language: system
        types_or: [python, pyi]
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format
        name: Ruff Format
        entry: ruff format
        language: system
        types_or: [python, pyi]
      - id: luacheck
        name: Luacheck
        entry: luacheck
        language: system
        types: [lua]
        args: ["--globals", "vim", "--"]
      - id: stylua
        name: StyLua
        entry: stylua
        language: system
        types: [lua]
        args: ["--check"]
  - repo: "https://github.com/google/yamlfmt"
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: "https://github.com/gitleaks/gitleaks"
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: "https://github.com/mrtazz/checkmake.git"
    rev: v0.3.2
    hooks:
      - id: checkmake
